@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,400;0,800;1,400&display=swap');
* {
    /*Esses 3 servem para limpar as config. padrões do css*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: #2e1b96;
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}


/*Seção de Apresentação*/

#presentation {
    background-image: url(./desenho\ prog.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation h1 {
    display: block;
    width: fit fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reavel_name .5s forwards;
    /*forwards é para permanecer com a cor colocada*/
    animation-delay: 2.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: gold;
    background-color: transparent;
    border: 2px solid gold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 10px;
    transition: .8s ease;
    transition-property: backgroud-color, color;
}

#presentation .cta:hover {
    color: #46295A;
    font-weight: 900;
    background-color: gold;
}

#presentation h1 span {
    /*Span é um elemento genérico que fica por cima do espaço que o elemento ocupa*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation::after {
    /*É o que vai por cima de tudo - Efeito para deixar opaco*/
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    /*tem que acrescentar a posição dele na presentation*/
}


/*Seção de Portifólios*/

#portfolio .portfolio {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#portfolio .portfolio-header h1 {
    margin-bottom: 50px;
}

#portfolio .all-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    /*o quanto aceita que a img seja flexivel*/
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #2e1b96 0%, #002349);
    color: white;
}

#portfolio .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.6;
}

#portfolio .project-img img {
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
    transform: scale(1.1);
}


/*keyframes - Animação*/

@keyframes text_reveal {
    100% {
        color: white
    }
}

@keyframes text_reavel_name {
    100% {
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}


/*Miia Query*/

@media only screen and (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #portfolio .all-projects .project-info {
        height: 100%;
    }
    #portfolio .all-projects .project-img {
        height: 100%;
    }
    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
}